<a href="https://colab.research.google.com/github/Manojgharge07/DataScience_Mentorship_Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q.1 What is a List?**

1. List is data structure or type in Python. which is define by having values in square brackets[ ]. with comma [ , ] seperator.

2. List data type is Mutable and order in sequence. 

3. It is heterogeneous objects.

4. We can differentiate duplicate elements by using index

5. The indexing of a list is done with 0 being the first index.

6. There is adding & removing the elements in the list, with use of append & remove.

In [ ]:
# list type:
x=[]  
print(x)
print(type(x))

[]
<class 'list'>

# **Q.2 What is a Tuple?**

1. Tuple is data structure or type in Python. which is define by having values in paranthisis brackets( ).

2. Tuples are used to store multiple items in a single variable. 

3. It is immutable. i.e once we creates Tuple, we cannot perform any changes in that object.

4.  Tuple is one of 4 built-in data types & other 3 are List, Set, and Dictionary, all with different qualities and usage.

5. Duplicates are allowed Heterogeneous objects are allowed.

6. Indexing is possible in tuple.

In [ ]:
x=()
x

()

In [ ]:
(type(x))

tuple

# **Q.3  What is the difference between List and Tuple?**

1. The main difference is, The list is mutable data type & The tuple is immutable data type.

2. List is define by [ ]. & Tuple is define by ( ).

3. List dont have keys for dict. & Tuple is having keys for dict.

# **Q.4 Python Program to find the largest element in the list**

In [ ]:
#by using max operator:
x = [10,18,7,46,40,86,37,90,36]
print("Largest Element in the list is :", max(x))

Largest Element in the list is : 90

In [ ]:
y=[10,18,7,46,40,86,37,90,36,390,455]
maxn=max(y)
print(maxn)

455

In [ ]:
# in Str type:
x = ["boolean","int"]
print("maximum element in list is :",max(x))

maximum element in list is : int

# **Q.5 Python program to interchange first and last elements in a list.**

In [ ]:
# to interchange the elements by using index:
x = [45, 86, "Hello", 72, "Python"]

y = x[0]
z = x[4]
x[0]=z
x[4]=y
print(x)

['Python', 86, 'Hello', 72, 45]

# **Q.6 Python program to swap two elements in a list**

In [ ]:
# to swap the elements by using index:
x = [45, 86, "Hello", 72, "Python",789,345,"Langauge"]

y=x[2]
z=x[5]


x[2]=z
x[5]=y
print(x)

[45, 86, 789, 72, 'Python', 'Hello', 345, 'Langauge']

# **Q.7 Python program to Reverse a List**

In [ ]:
#reverse list by using slice operator:
x = [45, 86, "Hello", 72, "Python",789,345,"Langauge"]
x[::-1]

['Langauge', 345, 789, 'Python', 72, 'Hello', 86, 45]

In [ ]:
#reverse list by using .reverse():
a = ['asdf','tyui',876,467,32,'dfgh']

a.reverse()
print(a)

['dfgh', 32, 467, 876, 'tyui', 'asdf']

# **Q.8 Python program to count occurrences of an element in a list.**

In [ ]:
# count element by using .count():
x = [45, 86,"Python", "Hello", 72, "Python",789,345,"Langauge",789,34,78,789]
x.count(789)

3

In [ ]:
# count element by using .count():
x = [45, 86,"Python", "Hello", 72, "Python",789,345,"Langauge",789,34,78,789]
print(x.count("Python"))
x.count(789)

2

3

# **Q.9 Python program to find the sum of elements in a list.**

In [ ]:
y=[10,18,7,46,40,86,37,90,36,390,455]

sum = 0
for i in y:
  sum=sum+i
print(sum)

1215

In [ ]:
y=[10,18,7]

sum=1   
for i in y:
  sum=sum+i
print(sum)

36

In [ ]:
x = eval(input("Enter list :"))
sum = 0
for i in x:
  sum=sum+i
print(sum)

Enter list :10,12,14,16,13
65

# **Q.10 Python program to Multiply all numbers in the list**

In [ ]:
y=[10,18,7]

multiply = 1
for i in y:
  multiply=multiply*i
print(multiply)

1260

In [ ]:
y= eval(input("Ener multiply Number :"))

mul = 1
for i in y:
  mul=mul*i
print(mul)

Ener multiply Number :10,5,7,2
700

# **Q.11 What are the ways to find the length of a list**

In [ ]:
#find lenght using len( ) operator:
x = [45, 86,"Python", "Hello", 72, "Python",789,345,"Langauge",789,34,78,789]
len(x)

13

# **Q.12 Python program to find the smallest and largest number in a list (Without min-max function)**

In [ ]:
x = int(input("Enter First No"))
y = int(input("Enter Second No"))
z = int(input("Enter Third No"))

if x<y and x<z:
  print("Smallest Number: ",x)
elif y<z:
  print("Smallest Number: ",y)
else:
  print("Smallest Number is: ",z)

Enter First No43
Enter Second No54
Enter Third No87
Smallest Number:  43

In [ ]:
x = int(input("Enter First No"))
y = int(input("Enter Second No"))
z = int(input("Enter Third No"))

if x>y and x>z:
  print("Largest Number: ",x)
elif y>z:
  print("Largest Number: ",y)
else:
  print("Largest Number is: ",z)

Enter First No43
Enter Second No67
Enter Third No98
Largest Number is:  98

In [ ]:
x = int(input("Enter First No"))
y = int(input("Enter Second No"))
z = int(input("Enter Third No"))

x if x>y and x>z else  y if y>z else z

Enter First No544
Enter Second No765
Enter Third No673

765

# **Q.13 Python Program to find the area of a circle**

In [ ]:
#area of circle:
import math
radius = float(input("Enter radius of circle : "))
area = math.pi * radius * radius
print("Radius of the circle is :" ,area)

Enter radius of circle : 5
Radius of the circle is : 78.53981633974483

# **Q.14 Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.**

In [ ]:
x =eval(input("Enter list : "))
z =[]
y = eval(input("Enter int find in list: "))

print(y in x) #check y is in list or not

for i in x:  #for loop itrate every value 
  if i==y:
   continue   #if value find in list it will continue and dont print
  else:         
    z.append(i)
print(z)

Enter list : 10,12,18,22,26,18,34,12,45,18
Enter int find in list: 18
True
[10, 12, 22, 26, 34, 12, 45]

In [ ]:
x =eval(input("Enter list : "))
z =[]
y = eval(input("Enter int find in list: "))

print(y in x) #check y is in list or not

for i in x:  #for loop itrate every value 
  if i==y:
   continue   #if value find in list it will continue and dont print
  else:         
    z.append(i)
print(z)

Enter list : 10,12,18,22,26,18,34,12,45,18
Enter int find in list: 50
False
[10, 12, 18, 22, 26, 18, 34, 12, 45, 18]

# **Q.15  You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)**

# i. Input_list = [2,5,6,12] 

# ii. Output_list = [4,25,36,144]

In [ ]:
x = [2,5,6,12]
y= [] # empty list
for i in x:
  i=i*i   
  y.append(i) #append new items in list
print(y)

[4, 25, 36, 144]